<div id="SyncFormDataModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title">Reload Accident form Page with local file</h4>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="selectedcdformfile">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                  </div>                   
                </div>
                <span id="SelectedFormpath"></span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-styled" data-dismiss="modal" id="reloadFormBtn">Reload Form</button>
                <button type="button" class="btn btn-styled" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>