   
@model FieldTool.Models.FileModel
@{
    ViewBag.Title = "IntersectionSketch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id ="IntersectionModal" class="container-fluid">
    <div id="canvasDiv"></div>
    <div id ="Intersection-pad">
        <button type="button" class="btn btn-primary" id ="savepng">Save as PNG</button>
        <button type="button" class="btn btn-primary" id ="savejpg">Save as JPG</button>
        <button type="button" class="btn btn-primary" id ="savesvg">Save as SVG</button>
    </div>
</div>
   

