<h2>WordFormParse</h2>

@model FieldTool.Models.FileModel
@{
    ViewBag.Title = "WordFormParse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("WordFormParse", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"  value="Upload" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.UploadStatus
            </div>
        </div>
       
        </div>
}

